<!DOCTYPE html>
<html>
<head>
    <title>Startüp Mehmet</title>
    <script type="text/javascript" src="https://js.sportinglife.ca/static/lib/jquery.min.js?version=1720"></script>
    <link href="https://css.sportinglife.ca/static/lib/bootstrap-3.3.5/less/bootstrap.css?version=1720" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
</head>
<body>

<div class="container">
	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1"><h2>Menü</h2></li>
		<li class="tab-link" data-tab="tab-2"><h2>Tarih</h2></li>
		<li class="tab-link" data-tab="tab-3"><h2>Fotoğraf</h2></li>

	</ul>

	<div id="tab-1" class="tab-content current">
		<img src="../menü.png" class="menu" alt="menü" />
	</div>
	<div id="tab-2" class="tab-content">
		<p>Gökhan BAYAT ın babası Aziz bayat 1980 yılında Maraştan Mustafabeyli kasabasına göç etti 1981yılında koçak restuarant adında lokanta açarak geçimini sağlıyan Aziz BAYAT işlerinin ilerleyen yıllarda gök hanın babası rahatsızlandı ve kalp hastası olan babası rahatsızlığı nedeniyle restuarant işini devamı içim Gökhana bıraktı birkaç ay sonra  babası Aziz BAYAT Allahın rahmetine kavuştu. <br/><br/>Babasının ölümü üzerine koçak restuarantı1991  kapatarak  kendi adına çamlık restuarant adında lokanta yı 1992 yılında açtı ve 2010 yılının sonuna kadar camlıkta hizmet veren Gökhan2011 yılında mustafabeyli belediyesinin karşısındaki ikinci katında Hatay usulü döner dükkanı açarak 30 Kg lık olan döneri 2012 yılında  mısır sezonu sonuna kadar 50 Kg  ma kadar cıkardı.

<br/>

</br/>Döner ustası – CEP – 0545 264 57 18</p>
	</div>
	<div id="tab-3" class="tab-content">
    <div id="carousel-example-generic" class="carousel slide" data-interval="5000" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../family.png">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="../mehmet.png">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="../specialités.png">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="../mahmet.png">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="../chezmehmet.png">
      <div class="carousel-caption">

      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
	</div>

</div>
</div><!-- container -->

<img class="flag" src="https://slack-imgs.com/?c=1&url=http%3A%2F%2F2.bp.blogspot.com%2F-jyd8oeJFx-U%2FTseIkb9WUBI%2FAAAAAAAABZU%2FfVmCHLFDpZw%2Fs1600%2F33wpso6.gif" />

</body>
</html>
